.detalhesEvento {
	box-shadow: 0px 0px 5px grey;
	padding-top: 5px;
	padding-left: 20px;
	margin-top: 40px;
	margin-bottom: 60px;
	width: 50%;
}

.formConvidado {
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-bottom: 60px;
	width: 36%;
}

.tabelaConvidado {
	width: 40%;
}

.formEvento {
		box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin-top: 40px;
	margin-bottom: 60px;
}